@tailwind base;
@tailwind components;
@tailwind utilities;
.scale-80 {
  transform: scale(0.8);
  transform-origin: top left;
  width: 125%;
}

.swal2-confirm-custom {
  opacity: 1 !important;
  visibility: visible !important;
  background-color: #6366f1 !important;
  color: #fff !important;
  border-radius: 0.75rem !important;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Color de texto seleccionado */
::selection {
  background-color: rgba(0, 0, 0, 0.08);
  color: inherit;
}

/* Para Firefox */
::-moz-selection {
  background-color: rgba(224, 119, 33, 0.25);
  color: inherit;
}
